<div id="<%= dom_id entity %>">
  <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
      <div class="card mb-1 shadow">
        <div class="card-body">
          <div class="d-flex gap-2 align-items-center ml-auto category-card">
            <div>
              <p>Transaction</p>
              <p> <%= entity.name %></p>
            </div>
            <div>
              <p>Category</p>
              <% entity.category_entities.each do |category_entity|%>
               <p> <%= category_entity.category.name%></p>
              <% end %>
            </div>
             <div>
             <p>Amount</p>
              <p><%= number_to_currency(entity.amount)%></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
