
<div class="row">
  <div class="col-lg-11 mx-auto">
    <div class="card mt-2 shadow">
      <div class="card-title d-flex custom-bg-blue">
       <%= render "btn_back"%>
        <h1 class="text-center">Add Transaction</h1>
      </div>
      <div class="card-body">
        <%= render "form"%>
        <div>|
          <%= link_to "Back to category", user_category_path(@user, id: params[:id]) %>
        </div>
      </div>
    </div>
  </div>

</div>