 <div class="container shadow mt-5" id="main-page">
  <h1 class="text-center fw-bold">SmartSpend Tracker</h1>
  <div class="fixed-bottom">
    <div class="d-grid gap-2">
      <%= link_to 'LOG IN', new_user_session_path, class:"btn btn-primary" %>
      <%= link_to 'SIGN UP',new_user_registration_path, class:"btn btn-white border" %>
    </div>
  </div>
</div>