<div class="row">
  <div class="col-lg-11 mx-auto">
    <div class="card mt-2 shadow">
      <div class="card-title custom-bg-blue">
        <h1 class="text-center">Add Category</h1>
      </div>
      <div class="card-body">
        <%= render "form"%>
        <div>|
          <%= link_to "Back to categories", user_categories_path %>
        </div>
      </div>
    </div>
  </div>

</div>
